* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: hsl(30, 38%, 92%);
	font-size: 62.5%;
}

body {
	align-items: center;
	color: hsl(228, 12%, 48%);
	display: flex;
	flex-direction: column;
	font-family: "Montserrat", sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	justify-content: center;
	min-height: 100vh;
}

.product__card {
	align-items: center;
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
    display: flex;
	flex-direction: column;
	width: 90vw;
	max-height: 80vh;
}

.product__preview {
	background-image: url(../images/image-product-mobile.jpg);
	background-size: cover;
	background-attachment: center;
    background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px 10px 0 0;
	height: 250px;
	width: 100%;
}

.product__details {
	padding: 2rem;
}

.product__category {
	letter-spacing: .3rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.product__title {
	color: hsl(212, 21%, 14%);
}

.product__description {
	line-height: 1.5;
    margin: 1rem 0;
}

.product__pricing {
	display: flex;
    flex-direction: row;
    align-items: center;
}

.product__sale-price {
	color: hsl(158, 36%, 37%);
}

.product__sale-price, .product__title {
	font-family: 'Fraunces', serif;
    font-size: 3rem;
	font-weight: 700;
	margin: 1rem 0;
}

.product__price {
	margin: 0 2rem;
	text-decoration: line-through;
}

.product__cart-button {
	background-color: hsl(158, 36%, 37%);
	border: none;
    border-radius: .5rem;
	color: hsl(0, 0%, 100%);
	display: flex;
	align-items: center;
    justify-content: center;
	font-size: 1.6rem;
	font-weight: 700;
	margin: 1rem auto;
	padding: 1rem 5rem;
	width: 100%;
}

.product__cart-button img {
	margin-right: 1rem;
}
